<div ng-show="saving">
    <div class="creationLoader"></div>
    <h3>Please wait...</h3>
</div>

<div ng-hide="saving">
    <div ng-hide="errorSaving">
        <div class="success">
            <i class="fa fa-check"></i>
        </div>
        <h3><span ng-bind="message"></span> was saved successfully!</h3>
    </div>
    <div ng-show="errorSaving">
        <div class="error">
            <i class="fa fa-close"></i>
        </div>
        <h3><span ng-bind="message"></span> was not saved!</h3>
    </div>
</div>
