<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Activity stream</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Activity stream</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Basic activity stream</h5>
                </div>

                <div class="ibox-content">

                    <div class="stream-small">
                        <span class="label label-primary"> Add</span>
                        <span class="text-muted"> Today at 10:30:50 pm </span> / <a href="#">Mike Smith</a>  Added new contact to the user group
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-primary"> Add</span>
                        <span class="text-muted"> Yesterday at 10:02:33 pm </span> / <a href="#">Camila Farter</a> Added new file to project.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-success"> Comment</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-warning"> Activity</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
                    </div>
                    <div class="stream-small">
                        <span class="label label-default"> Note</span>
                        <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
