<!--<div id="applicationHeaderContainer">-->
    <!--<div id="applicationHeader" class="applicationHeader responsiveHeader">-->
        <!--<a href="https://apiary.io" class="headerApiLogo"></a>-->
        <!--<div class="header-user" style="position: absolute;-->
    <!--top: 18px;-->
    <!--right: 0;">-->
          <!--<a class="header-btn header-member js-open-header-member-menu" href="#" aria-label="Open Member Menu">-->
              <!--<span class="member ">-->
                  <!--<span class="member-initials" style="display: block;-->
    <!--font-size: 9pt;-->
    <!--font-weight: 700;-->
    <!--height: 30px;-->
    <!--left: 0;-->
    <!--line-height: 30px;-->
    <!--overflow: hidden;-->
    <!--position: absolute;-->
    <!--text-align: center;-->
    <!--top: 0;-->
    <!--width: 100%;" title="Anna Shevchenko (annashand)"></span>-->
                  <!--<span-->
                <!--class="member-gold-badge" title="This member has Trello Gold."></span></span><span-->
                <!--class="header-btn-text js-member-name">Anna Shevchenko</span></a></a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row border-bottom">-->
    <!--<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">-->
        <!--<div class="navbar-header">-->
            <!--<a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>-->
            <!--<form role="search" class="navbar-form-custom" method="post" action="#">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<ul class="nav navbar-top-links navbar-right">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-sign-out"></i> Log out-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->

    <!--</nav>-->
<!--</div>-->
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="minimalize()"><i class="fa fa-bars"></i></a>-->
            <!--<a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>-->
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="logout-button" href="#">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>